{% if (schedule_banners.getCenterBanner()) %}
    <div class="ad">
        <a href="{{ schedule_banners.getCenterBanner().link }}"><img src="{{ schedule_banners.getCenterBanner().image.path }}" /></a>
    </div>
{% endif %}