==
<div class="channels">
    <a href="" class="channel channel--active">
        <span class="channel__logo">
            <img src="images/channels/mir-logo.png" alt="">
        </span>
        <span class="channel__name">
            МИР
        </span>
    </a>

    <a href="" class="channel">
        <span class="channel__name">
            МИР (+2)
        </span>
    </a>

    <a href="" class="channel">
        <span class="channel__name">
            МИР (+4)
        </span>
    </a>

    <a href="" class="channel">
        <span class="channel__name">
            МИР (+7)
        </span>
    </a>

    <a href="" class="channel">
        <span class="channel__logo">
            <img src="images/channels/mir24-logo.png" alt="">
        </span>
        <span class="channel__name">
            МИР 24
        </span>
    </a>

    <a href="" class="channel">
        <span class="channel__logo">
            <img src="images/channels/mir-premium-logo.png" alt="">
        </span>
        <span class="channel__name">
            МИР PREMIUM
        </span>
    </a>
</div>