==
<div class="container">
    <!-- Павел Беляев, [12.08.19 18:42]
        Господа, демо подложку не забудьте пожалуйста
        Лучше из 2 частей -->

    <!-- Полное брендирование (демо подложка) -->
    <div class="branding">
        <div class="branding__part branding__part--full">
            <a href="">
                <img src="http://placehold.it/1920x1000/798A9D" alt="">
            </a>
        </div>
    </div>

    <!-- Двойное брендирование (демо подложка из 2х частей) -->
    <div class="branding">
        <div class="branding__part branding__part--left">
            <a href=""><img src="http://placehold.it/360x720/798A9D" alt=""></a>
        </div>
        <div class="branding__part branding__part--right">
            <a href=""><img src="http://placehold.it/360x720/798A9D" alt=""></a>
        </div>
    </div>

    <div class="container__content">
        {% include 'translation.twig' %}
        {% include 'onair.twig' %}
        {% include 'radio.twig' %}
    </div>
</div>