<div class="further">
    <div class="further__button further__button--blue">
        <span class="further__title"></span>
    </div>
    <div class="further__middle">
        <div class="further__scroll">
            {% include 'program.twig' %}
        </div>
    </div>
    <a target="_blank" class="further__button">
        <span class="further__title">
            Телепрограмма
        </span>
        <span class="further__icon"><img src="images/further/arrow.svg" alt=""></span>
    </a>
</div>
