<div class="header">
    <div class="header__part header__part--left">
        <div class="header__text">
            межгосударственная<br>
            телерадиокомпания
        </div>
    </div>
    <div class="header__logo">
        <img src="images/logo-main.svg" alt="">
    </div>
    <div class="header__part header__part--right">
        <div class="header__text header__text--right ">
            ОНЛАЙН-ВЕЩАНИЕ
        </div>
    </div>
</div>
