<div class="menu">
    <div class="menu__items">
        <a target="_blank" href="https://news/list/all" class="menu__item">НОВОСТИ</a>
        <a target="_blank" href="https://articles/service" class="menu__item">СТАТЬИ</a>
        <a target="_blank" href="https://foto/service" class="menu__item">ФОТО</a>
        <a target="_blank" href="https://video/service" class="menu__item">ВИДЕО</a>
        <a target="_blank" href="https://interaktiv/service" class="menu__item">ТЕСТЫ</a>
        <a style="display: none;" target="_blank" href="" class="menu__item">ПЕРЕДАЧИ</a>
        <a target="_blank" href="https://programm" class="menu__item">ТЕЛЕПРОГРАММА</a>
        <a target="_blank" href="https://advert" class="menu__item">РЕКЛАМА</a>
    </div>
</div>