<audio preload="none" id="radio-stream" src="http://icecast.mirtv.cdnvideo.ru:8000/radio_mir128"></audio>
<div class="player font-roboto">

    <div class="player__left">
        <a href="" class="player__button js-player-button">
            <img src="images/player/play.svg" alt="" class="player__play">
            <img src="images/player/pause.svg" alt="" class="player__pause">
        </a>

        <div class="player__song">
            В ЭФИРЕ: <span class="player__name">Зара - С Понедельника</span>
        </div>
    </div>
    <div class="player__right">
        <div class="player__volume">
            <a href="" class="player__quiet js-player-mute"><img src="images/player/sound-off.svg" alt=""></a>
            <div class="player__range">
                <div id="range" class="range"></div>
            </div>
            <div class="player__loud"><img src="images/player/sound-on.svg" alt=""></div>
        </div>
    </div>
</div>
