<div class="program">
    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Курс дня
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Евразия. Познаем вместе
        </div>
    </div>

    <div class="program__item">
        <div class="program__time">
            18:15
        </div>
        <div class="program__name">
            Мир. Doc.
        </div>
    </div>
</div>
