<div class="radio">
    <div class="radio__logo">
        <img src="images/radio/radio-mir.svg" alt="">
    </div>

    <div class="radio__player">
        {% include 'player.twig' %}
    </div>
</div>
