==

<div class="container">
    <div class="container__content">
        <div class="slider">
            <div class="slider__wrapper">
                <div class="slider__items">
                    {% if (banners.getBanners().bnr_carousel) %}
                    {% for item in banners.getBanners().bnr_carousel %}
                    <a href="{{ item.href }}" target="_blank" class="slider__item">
                        <div class="slider__image">
                            <img src="{{ item.banner_carousel | media }}" alt="">
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>

                {% partial 'ad-1200' %}
            </div>
        </div>
    </div>
</div>