<div class="container">
    <div class="stream">
        <div class="stream__wrapper">
            <div class="stream__title">
                Скоро в эфире
            </div>

            <div class="stream__items">
                <a href="" class="stream__item">
                    <div class="stream__top">
                        <div class="stream__image">
                            <img src="images/stream/stream-image1.jpg" alt="">
                        </div>

                        <div class="stream__icon">
                            <img src="images/channels/mir-logo.svg" alt="">
                        </div>

                        <div class="stream__date">
                            <span class="stream__date-day">27 </span> <span class="stream__date-month">июля</span> <span> в</span> <span class="stream__date-time"> 14:50</span>
                        </div>
                    </div>

                    <div class="stream__bottom">
                        <div class="stream__item-title">
                            Школа выживания от одинокой женщины
                            с тремя детьми в условиях кризиса
                        </div>

                        <div class="stream__item-text">
                            Ситком, Россия, 2015 /12+/
                        </div>
                    </div>
                </a>

                <a href="" class="stream__item">
                    <div class="stream__top">
                        <div class="stream__image">
                            <img src="images/stream/stream-image2.jpg" alt="">
                        </div>

                        <div class="stream__icon">
                            <img src="images/channels/mir24-logo.svg" alt="">
                        </div>

                        <div class="stream__date">
                            <span class="stream__date-day">27 </span> <span class="stream__date-month">июля</span> <span> в</span> <span class="stream__date-time"> 14:50</span>
                        </div>
                    </div>

                    <div class="stream__bottom">
                        <div class="stream__item-title">
                            Школа выживания от одинокой женщины
                            с тремя детьми в условиях кризиса
                        </div>

                        <div class="stream__item-text">
                            Ситком, Россия, 2015 /12+/
                        </div>
                    </div>
                </a>

                <a href="" class="stream__item">
                    <div class="stream__top">
                        <div class="stream__image">
                            <img src="images/stream/stream-image3.jpg" alt="">
                        </div>

                        <div class="stream__icon">
                            <img src="images/channels/mir-premium-logo.svg" alt="">
                        </div>

                        <div class="stream__date">
                            <span class="stream__date-day">27 </span> <span class="stream__date-month">июля</span> <span> в</span> <span class="stream__date-time"> 14:50</span>
                        </div>
                    </div>

                    <div class="stream__bottom">
                        <div class="stream__item-title">
                            Школа выживания от одинокой женщины
                            с тремя детьми в условиях кризиса
                        </div>

                        <div class="stream__item-text">
                            Ситком, Россия, 2015 /12+/
                        </div>
                    </div>
                </a>

                <a href="" class="stream__item">
                    <div class="stream__top">
                        <div class="stream__image">
                            <img src="images/stream/stream-image4.jpg" alt="">
                        </div>

                        <div class="stream__icon">
                            <img src="images/channels/mir24-logo.svg" alt="">
                        </div>

                        <div class="stream__date">
                            <span class="stream__date-day">27 </span> <span class="stream__date-month">июля</span> <span> в</span> <span class="stream__date-time"> 14:50</span>
                        </div>
                    </div>

                    <div class="stream__bottom">
                        <div class="stream__item-title">
                            Школа выживания от одинокой женщины
                            с тремя детьми в условиях кризиса
                        </div>

                        <div class="stream__item-text">
                            Ситком, Россия, 2015 /12+/
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
