<div class="container">
    <div class="container__content">
        <div class="tiles">
            <div class="tiles__wrapper">
                <div class="tiles__items">
                    {% for item in news.getNews %}
                        <a href="https://mir24.tv/news/{{ item.id }}" class="tiles__item">
                            <div class="tiles__inner">
                                <div class="tiles__top">
                                    <div class="tiles__image">
                                        <img src="https://dev19.mir24.tv/v2/media/images/uploaded/list_crop{{ item.image_id }}.jpg"
                                             alt="">
                                    </div>
                                    {% if item.has_video  %}
                                        <div class="tiles__icon"></div>
                                    {% endif %}
                                    <div class="tiles__mark tiles__mark--mobile">Новости</div>
                                </div>
                                <div class="tiles__bottom">
                                    <div class="tiles__title">
                                        {{ item.title }}
                                    </div>

                                    <div class="tiles__text">
                                        {{ item.description }}
                                    </div>
                                    <div class="tiles__mark">Новости</div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
