<div class="translation">
    <div class="translation__video">
        {% include 'video.twig' %}
    </div>
    {% include 'onair-mobile.twig' %}
    <div class="translation__further">
        {% include 'further.twig' %}
    </div>
</div>
