<div class="video">
    <video controls poster="images/video/poster.jpg">
        <source type="video/mp4" src="https://st4.depositphotos.com/1003369/27880/v/600/depositphotos_278809050-stock-video-view-from-the-height-of.mp4" itemprop="contentURL">
    </video>
</div>
