.ad {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  img {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px){
  .ad {
    display: none;
  }
}
