.footer {
  background: #303e4d;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  &__wrapper {
    padding: 50px 20px 75px;
    width: 1130px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__side {
    &:first-child {
      width: 20%;
    }

    &:nth-child(2) {
      width: 54%;
      padding-right: 2%;
    }

    &:last-child {
      width: 26%;
    }
  }

  &__logo {
    width: 160px;
    position: relative;

    &-image {
      margin-bottom: 15px;

      img {
        display: block;
        margin: 0 auto;
      }
    }

    &-text {
      text-align: center;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__pegi {
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: #000;
    font-family: 'Roboto', sans-serif;
    top: 0;
    left: 100%;
  }

  &__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    max-width: 565px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__row {
    margin-bottom: 30px;

    &--mb20 {
      margin-bottom: 20px;
    }

    &--mb25 {
      margin-bottom: 25px;
    }

    &--flex {
      display: flex;
    }

    &--jcsb {
      justify-content: space-between;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: #b0d137;
    transition: border-color .3s;
    border-bottom: 1px solid;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    &:hover {
      border-color: transparent;
    }
  }

  &__social {
    width: 24px;
    height: 20px;
    display: block;
    margin-right: 25px;
    position: relative;

    &s {
      display: flex;
      align-items: center;
    }

    &::before {
      content: '';
      position: absolute;
      width: 36px;
      height: 36px;
      background: #fff;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;

      path {
        transition: fill .3s ease-in-out;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    &:hover svg path {
      fill: #303e4d;
    }
  }

  &__list {
    &:first-child {
      margin-right: 25px;
    }

    &--bold {
      dd,dt {
        font-weight: bold;
      }
    }

    dd,dt {
      display: inline;
      font-size: 14px;
      line-height: 21px;
      font-family: 'Roboto', sans-serif;
    }
  }

  &__icon {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &s {
      display: flex;
      align-items: center;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 12px;
  }

  &__app {
    width: 132px;
    height: 40px;
    border-radius: 5px;
    background: #000000;
    border: 1px solid #A6A6A6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &s {
      display: flex;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__side {
      &:nth-child(2) {
        flex-shrink: 1;
        width: 40%;
        padding-right: 0;
      }

      &:first-child,
      &:last-child {
        flex-shrink: 0;
      }

      &:first-child {
        width: 25%;
      }

      &:last-child {
        width: 35%;
        padding-left: 50px;
        box-sizing: border-box;
      }
    }

    &__order {
      margin-bottom: 20px;
    }

    &__pegi {
      left: 85%;
    }

    &__row {
      &--info,
      &--order {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }

    &__list--info:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__icon {
      img {
        display: block;
        width: 46px;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .footer {
    &__side {
      &:last-child {
        padding-left: 25px;
      }
    }

    &__app {
      width: 100px;
      margin-right: 10px;
      img {
        display: block;
      }

      &:first-child {
        img {
          width: 92px;
        }
      }

      &:last-child {
        img {
          width: 88px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__side {
      &:first-child,
      &:nth-child(2),
      &:last-child {
        width: 100%;
      }

      &:first-child {
        margin-bottom: 20px;
      }

      &:nth-child(2) {
        padding-right: 0;
        margin-bottom: 30px;
      }

      &:last-child {
        padding-left: 0;
      }
    }

    &__logo {
      margin: 0 auto;
    }

    &__text {
      max-width: 100%;
      text-align: justify;
    }

    &__row {
      &--jcsb {
        justify-content: flex-start;
      }

      &--info,
      &--order {
        align-items: flex-start;
        text-align: left;
      }
    }

    &__list {
      &--info {
        &:first-child {
          margin-bottom: 30px;
        }
      }

      &--contacts:first-child {
        margin-right: 0;
      }
    }

    &__app {
      width: 132px;
      margin-right: 20px;
      img {
        display: block;
      }

      &:first-child {
        img {
          width: 115px;
        }
      }

      &:last-child {
        img {
          width: 109px;
        }
      }
    }

    &__icon {
      img {
        width: 55px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .footer {
    &__wrapper {
      padding: 22px 10px 70px;
    }

    &__row {
      &--flex {
        flex-direction: column;
      }
    }
  }
}
