.menu {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;

  &:before {
    content: '';
    display: block;
    background: linear-gradient(90deg, #1583C6 0%, #B0D137 100%);
    height: 5px;
  }

  &__item {
    &s {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }

    display: block;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    position: relative;

    &:after {
      content: '';
      display: block;
      background: #8BC541;
      height: 3px;
      position: absolute;
      bottom: -3px;
      right: 0;
      transition: width .3s;
      width: 0;
    }

    &:hover,
    &--active {
      &:after {
        left: 0;
        right: unset;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .menu__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px){
  .menu {
    height: inherit;
    // padding: 40px 0;
    box-sizing: border-box;

    &__item {
      &s {
        display: flex;
        flex-direction: column;
        height: inherit;
        justify-content: flex-start;

        padding: 20px;
        box-sizing: border-box;
        overflow: auto;
        align-items: flex-end;
      }

      margin: 3px 0;

      &:after {
        display: none;
      }

      &--active {
        color: #8BC541;
      }
    }
  }
}
