@media screen and (max-width: 700px){
  .nav {
    position: fixed;
    top: 120px;
    left: -100%;
    z-index: 100;
    background: #ffffff;
    width: 100%;
    transition: left .3s;
    height: calc(100vh - 120px);

    &--open {
      left: 0;
    }
  }
}

@media screen and (max-width: 550px){
  .nav {
    height: calc(100vh - 140px);
    top: 140px;
  }
}
