.onair {
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  background: #303E4D;
  padding: 20px;

  &--mobile {
    display: none;
  }

  &__title {
    color: #b0d137;
  }

  &__subtitle {
    color: #ffffff;
  }
}

@media screen and (max-width: 700px) {
  .onair {
    display: none;

    &--mobile {
      display: block;
    }
  }
}
