.radio {
  display: flex;

  &__logo {
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 110px;
    height: 110px;
    flex-grow: 0;

    img {
      display: block;
    }
  }

  &__player {
    flex-grow: 1;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .radio {
    &__logo {
      flex-basis: 100px;
      height: 100px;
    }
  }
}
