.range {
  padding: 0 3px;
  height: 6px;
  width: 100%;
  background: #ffffff;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    height: inherit;
    width: 3px;
    background: #5A5A5A;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    height: inherit;
    width: 3px;
    background: #fff;
  }

  span {
    display: block;
    z-index: 3;
    width: 6px;
    height: 6px;
    background: #5A5A5A;
    position: absolute;
    top: 0;
    margin-left: -3px;
    outline: none;

    &:before {
      content: '';
      display: block;
      height: inherit;
      right: 0;
      position: absolute;
      width: 300px;
      pointer-events: none;
      background: #5a5a5a;
    }
  }
}
