.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.slick-dots li {
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &.slick-active button {
    background: #fff;
  }
}

.slick-dots button {
  display: block;
  outline: none;
  box-shadow: none;
  padding: 0;
  font-size: 0;
  line-height: 0;
  color: transparent;
  background: transparent;
  margin: 0;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s ease-in-out;
}
