.tiles {
  &__wrapper {
    padding-bottom: 35px;
  }

  &__item {
    width: 290px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px 13px 15px 0;
    text-decoration: none;
    display: block;
    position: relative;

    &s {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      right: -13px;
      margin-left: -13px;
      justify-content: center;
    }

    &:hover .tiles__image img {
      transform: scale(1.2);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__top {
    margin-bottom: 15px;
    position: relative;
  }

  &__image {
    position: relative;
    overflow: hidden;

    img {
      display: block;
      max-width: 100%;
      transition: .4s ease-in-out;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1583c6;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 14px;
    line-height: 21px;
    color: #5a5a5a;
    margin-bottom: 28px;
  }

  &__string {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  &__mark {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    color: #5a5a5a;
    padding: 2px 7px;
    font-weight: bold;
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-family: 'Roboto', sans-serif;

    &--mobile {
      display: none;
    }
  }

  &__icon {
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    background: #b0d137;
    top: 0;
    right: 0;

    &::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 8px;
      background: url("../images/tiles/tiles-icon.png") no-repeat center center;
      background-size: 16px 8px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: 1240px) {
  .tiles {
    padding: 0 20px;

    &__items {
      right: auto;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 660px) {
  .tiles {
    padding: 0 10px;

    &__item {
      margin: 0 auto 20px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__inner {
      flex-direction: row;
    }

    &__top {
      margin-bottom: 0;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__text {
      margin-bottom: 0;
    }

    &__mark {
      /*right: auto;
      left: 10px;
      bottom: 10px;*/
      display: none;

      &--mobile {
        display: block;
        position: static;
        width: 60px;
        height: 20px;
        margin-top: 14px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .tiles {
    &__text {
      font-size: 12px;
      line-height: 15px;
    }

    &__title {
      font-size: 13px;
      line-height: 17px;
    }
  }
}
